.commands-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.command {
  color: black;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

.command:hover {
  background-color: lightgray;
}

.highlighted {
  background-color: rgb(0, 162, 255);
}

.path-cell {
  background-color: rgb(0, 162, 255); /* Or any indication of a trace */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.body-text {
  font-family: 'Roboto', sans-serif;
  color: var(--rocky-gray);
}

.fight-button {
  background-color: var(--rocky-black);
  color: var(--rocky-gold);
  font-family: var(--font-heading);
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}
