@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rocky-black: #343a40;
  --rocky-grey: #ced4da;
  --rocky-red: #dc3545;
  --rocky-gold: #ffc107;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .base-btn {
    @apply bg-black text-white font-bold py-2 px-4 rounded active:scale-90  transition-all;
  }

  .outline-btn {
    @apply base-btn border-2 border-black bg-white text-black hover:bg-black hover:text-white;
  }

  .outline-btn-red {
    @apply base-btn border-2 border-red-500 bg-white text-red-500 hover:bg-red-500 hover:text-white;
  }
  .outline-btn-purple {
    @apply base-btn border-2 border-purple-500 bg-white text-purple-500 hover:bg-purple-500 hover:text-white;
  }

  .purple-gradient {
    @apply bg-gradient-to-tr border-purple-500  from-indigo-500 via-purple-500 to-pink-500;
  }

  .gradient-btn-cyan {
    @apply base-btn border-2 bg-gradient-to-tr border-cyan-400  from-green-400 via-cyan-400 to-orange-200 text-transparent bg-clip-text hover:bg-clip-border hover:border-white hover:text-white;
  }
  .gradient-btn-yellow {
    @apply base-btn border-2 bg-gradient-to-tr border-yellow-400 from-orange-400 via-yellow-400 to-pink-400 text-transparent bg-clip-text hover:bg-clip-border hover:border-white hover:text-white;
  }
  .gradient-btn-purple {
    @apply base-btn purple-gradient border-2 text-transparent bg-clip-text hover:bg-clip-border hover:border-white hover:text-white;
  }
}
